body {
  font-family: sans-serif;
}

h1 {
  margin: 0px;
}

ul {
  list-style: none;
  padding-left: 1em;
}

ul span {
  padding-right: 0.5em;
}

.pass {
  color: Green;
}

.fail {
  color: Firebrick;
}
